# Spark SQL


Agenda
-------------
1. Generacion de Vistas temporales
1. Realizando consultas SQL
1. Creación Base de Datos y Escritura como Tabla

- En Pyspark puedes interactuar con los datos a partir de comandos `SQL` o `DataFrame`
- `SQL` es un lenguaje de programación fácil de comprender
- Las operaciones utilizadas mediante SQL tambien pueden ser realizadas a partir de metodos de DataFrame

In [ ]:
path = '/FileStore/2015_summary'
options = {
  'header': True,
  'sep': ',',
  'inferSchema': True
}

df = spark.read.format('csv').options(**options).load(path)
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

<h3> Creación de la Vista Temporal (Contexto de Base de Datos)</h3>

In [ ]:
# Generando vista: El parametro define el nombre de la tabla para la vista
# https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.createOrReplaceTempView.html
df.createOrReplaceTempView('flights') # nombre de tabla

In [ ]:
# **Databricks permite usar comandos mágicos para realizar operaciones**
# Usamos %sql para realizar consultas sql
%sql
-- Realizando consultas SQL

select *
from flights
limit 10

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,15
United States,Croatia,1
United States,Ireland,344
Egypt,United States,15
United States,India,62
United States,Singapore,1
United States,Grenada,62
Costa Rica,United States,588
Senegal,United States,40
Moldova,United States,1

**Cuando no estemos usando Databricks** Realizaremos consultas de la siguiente forma

In [ ]:
query = "Select * from flights limit 10"
df_new = spark.sql(query)

In [ ]:
df_new.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

In [ ]:
#  Se parece mas a un MySQL
query = """
select  *
from flights
where DEST_COUNTRY_NAME like '%{country}%'
order by count desc
""".format(country='United')

flightFilteredDf = spark.sql(query)
flightFilteredDf.show()

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
|    United States|             Mexico|  7187|
|   United Kingdom|      United States|  2025|
|    United States|     United Kingdom|  1970|
|    United States|              Japan|  1496|
|    United States| Dominican Republic|  1420|
|    United States|            Germany|  1336|
|    United States|        The Bahamas|   986|
|    United States|             France|   952|
|    United States|              China|   920|
|    United States|           Colombia|   867|
|    United States|        South Korea|   827|
|    United States|            Jamaica|   712|
|    United States|        Netherlands|   660|
|    United States|             Brazil|   619|
|    United States|         Costa Rica|   608|
|    United States|        El Salvador|   508|
|    United States|               Cuba|   478|
|    United States|             Panama|   465|
+-----------------+-------------------+------+
only showing top 20 rows

## 3. Creación Tablas

Spark nos permite trabajar con bases de datos y tablas como si se tratase de una base sql tradicional

In [ ]:
def createDatabase(databaseName:str) -> str:
  """
  Crea una nueva Base de Datos
  """
  spark.sql("CREATE DATABASE IF NOT EXISTS {}".format(databaseName))
  spark.sql("USE {}".format(databaseName))
  return databaseName

In [ ]:
createDatabase('clase')

Out[10]: 'clase'

<h3>Guardando DataFrame como Tabla (Persistente) </h3>

In [ ]:
df.write.mode('overwrite').saveAsTable('flights_table')

In [ ]:
spark.sql('show tables').show()

+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
|   clase|flights_table|      false|
+--------+-------------+-----------+

In [ ]:
spark.sql('DROP TABLE IF EXISTS flights')

Out[13]: DataFrame[]

In [ ]:
%sql

select *
from flights
where DEST_COUNTRY_NAME like 'United%'
order by count desc

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,United States,370002
United States,Canada,8483
United States,Mexico,7187
United Kingdom,United States,2025
United States,United Kingdom,1970
United States,Japan,1496
United States,Dominican Republic,1420
United States,Germany,1336
United States,The Bahamas,986
United States,France,952
United States,China,920
United States,Colombia,867
United States,South Korea,827
United States,Jamaica,712
United States,Netherlands,660
United States,Brazil,619
United States,Costa Rica,608
United States,El Salvador,508
United States,Cuba,478
United States,Panama,465
United States,Spain,442
United States,Italy,438
United States,Hong Kong,414
United States,Honduras,407
United States,Ireland,344
United States,Aruba,342
United States,Peru,337
United States,Sint Maarten,325
United Arab Emirates,United States,320
United States,Guatemala,318
United States,United Arab Emirates,313
United States,Cayman Islands,310
United States,Switzerland,305
United States,Ecuador,300
United States,Australia,258
United States,Venezuela,246
United States,Turks and Caicos Islands,236
United States,Taiwan,235
United States,Belgium,228
United States,Haiti,225
United States,Trinidad and Tobago,217
United States,Iceland,202
United States,Nicaragua,201
United States,Bermuda,193
United States,Belize,193
United States,Chile,185
United States,Russia,161
United States,Denmark,152
United States,Saint Kitts and Nevis,145
United States,Argentina,141
United States,Saint Lucia,136
United States,Luxembourg,134
United States,Portugal,134
United States,Barbados,130
United States,Turkey,129
United States,Israel,127
United States,Philippines,126
United States,Sweden,119
United States,Antigua and Barbuda,117
United States,Norway,115
United States,Qatar,109
United States,Curacao,83
United States,British Virgin Islands,80
United States,New Zealand,74
United States,Saudi Arabia,70
United States,Federated States of Micronesia,69
United States,Austria,63
United States,Guyana,63
United States,India,62
United States,Grenada,62
United States,"Bonaire, Sint Eustatius, and Saba",59
United States,Guadeloupe,59
United States,Nigeria,50
United States,Jordan,44
United States,Martinique,43
United States,Senegal,42
United States,Saint Barthelemy,41
United States,South Africa,40
United States,French Polynesia,40
United States,Marshall Islands,39
United States,Anguilla,38
United States,Kiribati,35
United States,Suriname,34
United States,Poland,33
United States,Palau,31
United States,Finland,28
United States,Kuwait,28
United States,Dominica,27
United States,Samoa,25
United States,Fiji,25
United States,Greece,23
United States,Azerbaijan,21
United States,Ghana,20
United States,Morocco,19
United States,Latvia,15
United States,Romania,15
United States,Cape Verde,14
United States,Cook Islands,13
United States,Uruguay,13
United States,Bolivia,13
United States,Angola,13
United States,Ukraine,13
United States,Czech Republic,12
United States,Pakistan,12
United States,Egypt,12
United States,Ethiopia,12
United States,Paraguay,6
United States,Thailand,4
United States,Greenland,4
United States,Malaysia,3
United States,Hungary,3
United States,Vietnam,2
United States,Indonesia,2
United States,Liberia,2
United States,Malta,2
United States,Croatia,1
United States,Singapore,1
United States,Gibraltar,1
United States,Cyprus,1
United States,Estonia,1
United States,Lithuania,1
United States,Bahrain,1
United States,Bulgaria,1
United States,Papua New Guinea,1
United States,Montenegro,1
United States,Georgia,1
United States,Namibia,1

# LABORATORIO SQL

El fichero **titanic.csv** contiene información sobre los pasajeros del Titanic. 

Escribir un programa con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las primeras filas del DataFrame
3. Mostrar por pantalla los datos del pasajero con identificador 148.
5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8. Eliminar del DataFrame los pasajeros con edad desconocida.
9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [ ]:
path = '/FileStore/titanic.csv'

options = {
  'header': True,
  'sep': ',',
  'inferSchema':True,
  'quote': '"'
}

df = spark.read.format('csv').options(**options).load(path)
# df = spark.read.format('csv',load=path,header=True,inferSchema=True)
df.show(3, False)

+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [ ]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [ ]:
df.count()

Out[18]: 891

In [ ]:
df.createOrReplaceTempView('titanic')

In [ ]:
%sql
-- 3. Mostrar por pantalla los datos del pasajero con identificador 148.

select *
from titanic
where PassengerId = 148

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
148,0,3,"""Ford, Miss. Robina Maggie """"Ruby""""""",female,9.0,2,2,W./C. 6608,34.375,null,S

In [ ]:
%sql

-- 4. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.


select name
from titanic
where Pclass = 1
order by name asc

name
"""Barber, Miss. Ellen """"Nellie"""""""
"""Bradley, Mr. George (""""George Arthur Brayton"""")"""
"""Duff Gordon, Lady. (Lucille Christiana Sutherland) (""""Mrs Morgan"""")"""
"""Duff Gordon, Sir. Cosmo Edmund (""""Mr Morgan"""")"""
"""Flynn, Mr. John Irwin (""""Irving"""")"""
"""Homer, Mr. Harry (""""Mr E Haven"""")"""
"""Mayne, Mlle. Berthe Antonine (""""Mrs de Villiers"""")"""
"""Romaine, Mr. Charles Hallace (""""Mr C Rolmane"""")"""
"""Ryerson, Miss. Susan Parker """"Suzette"""""""
"Allen, Miss. Elisabeth Walton"
"Allison, Master. Hudson Trevor"
"Allison, Miss. Helen Loraine"
"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)"
"Anderson, Mr. Harry"
"Andrews, Miss. Kornelia Theodosia"
"Andrews, Mr. Thomas Jr"
"Appleton, Mrs. Edward Dale (Charlotte Lamson)"
"Artagaveytia, Mr. Ramon"
"Astor, Mrs. John Jacob (Madeleine Talmadge Force)"
"Aubart, Mme. Leontine Pauline"
"Barkworth, Mr. Algernon Henry Wilson"
"Baumann, Mr. John D"
"Baxter, Mr. Quigg Edmond"
"Baxter, Mrs. James (Helene DeLaudeniere Chaput)"
"Bazzani, Miss. Albina"
"Beckwith, Mr. Richard Leonard"
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)"
"Behr, Mr. Karl Howell"
"Bidois, Miss. Rosalie"
"Bishop, Mr. Dickinson H"
"Bishop, Mrs. Dickinson H (Helen Walton)"
"Bissette, Miss. Amelia"
"Bjornstrom-Steffansson, Mr. Mauritz Hakan"
"Blackwell, Mr. Stephen Weart"
"Blank, Mr. Henry"
"Bonnell, Miss. Elizabeth"
"Bowerman, Miss. Elsie Edith"
"Brewe, Dr. Arthur Jackson"
"Brown, Mrs. James Joseph (Margaret Tobin)"
"Burns, Miss. Elizabeth Margaret"
"Butt, Major. Archibald Willingham"
"Cairns, Mr. Alexander"
"Calderhead, Mr. Edward Pennington"
"Cardeza, Mr. Thomas Drake Martinez"
"Carlsson, Mr. Frans Olof"
"Carrau, Mr. Francisco M"
"Carter, Master. William Thornton II"
"Carter, Miss. Lucile Polk"
"Carter, Mr. William Ernest"
"Carter, Mrs. William Ernest (Lucile Polk)"
"Cavendish, Mr. Tyrell William"
"Chaffee, Mr. Herbert Fuller"
"Chambers, Mr. Norman Campbell"
"Chambers, Mrs. Norman Campbell (Bertha Griggs)"
"Cherry, Miss. Gladys"
"Chibnall, Mrs. (Edith Martha Bowerman)"
"Cleaver, Miss. Alice"
"Clifford, Mr. George Quincy"
"Colley, Mr. Edward Pomeroy"
"Compton, Miss. Sara Rebecca"
"Crosby, Capt. Edward Gifford"
"Crosby, Miss. Harriet R"
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"
"Daly, Mr. Peter Denis"
"Daniel, Mr. Robert Williams"
"Davidson, Mr. Thornton"
"Dick, Mr. Albert Adrian"
"Dick, Mrs. Albert Adrian (Vera Gillespie)"
"Dodge, Master. Washington"
"Douglas, Mr. Walter Donald"
"Endres, Miss. Caroline Louise"
"Eustis, Miss. Elizabeth Mussey"
"Farthing, Mr. John"
"Fleming, Miss. Margaret"
"Foreman, Mr. Benjamin Laventall"
"Fortune, Miss. Alice Elizabeth"
"Fortune, Miss. Mabel Helen"
"Fortune, Mr. Charles Alexander"
"Fortune, Mr. Mark"
"Francatelli, Miss. Laura Mabel"
"Frauenthal, Dr. Henry William"
"Frauenthal, Mrs. Henry William (Clara Heinsheimer)"
"Frolicher, Miss. Hedwig Margaritha"
"Frolicher-Stehli, Mr. Maxmillian"
"Fry, Mr. Richard"
"Futrelle, Mr. Jacques Heath"
"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
"Gee, Mr. Arthur H"
"Giglio, Mr. Victor"
"Goldenberg, Mr. Samuel L"
"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)"
"Goldschmidt, Mr. George B"
"Graham, Miss. Margaret Edith"
"Graham, Mr. George Edward"
"Graham, Mrs. William Thompson (Edith Junkins)"
"Greenfield, Mr. William Bertram"
"Guggenheim, Mr. Benjamin"
"Harder, Mr. George Achilles"
"Harper, Mr. Henry Sleeper"
"Harper, Mrs. Henry Sleeper (Myna Haxtun)"
"Harrington, Mr. Charles H"
"Harris, Mr. Henry Birkhardt"
"Harris, Mrs. Henry Birkhardt (Irene Wallach)"
"Harrison, Mr. William"
"Hassab, Mr. Hammad"
"Hawksford, Mr. Walter James"
"Hays, Miss. Margaret Bechstein"
"Hays, Mrs. Charles Melville (Clara Jennings Gregg)"
"Hippach, Miss. Jean Gertrude"
"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)"
"Hogeboom, Mrs. John C (Anna Andrews)"
"Holverson, Mr. Alexander Oskar"
"Holverson, Mrs. Alexander Oskar (Mary Aline Towner)"
"Hoyt, Mr. Frederick Maxfield"
"Hoyt, Mr. William Fisher"
"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)"
"Icard, Miss. Amelie"
"Isham, Miss. Ann Elizabeth"
"Kent, Mr. Edward Austin"
"Kenyon, Mrs. Frederick R (Marion)"
"Kimball, Mr. Edwin Nelson Jr"
"Klaber, Mr. Herman"
"LeRoy, Miss. Bertha"
"Leader, Dr. Alice (Farnham)"
"Lesurer, Mr. Gustave J"
"Lewy, Mr. Ervin G"
"Lines, Miss. Mary Conover"
"Long, Mr. Milton Clyde"
"Longley, Miss. Gretchen Fiske"
"Lurette, Miss. Elise"
"Madill, Miss. Georgette Alexandra"
"Maioni, Miss. Roberta"
"Marechal, Mr. Pierre"
"Marvin, Mr. Daniel Warner"
"McCarthy, Mr. Timothy J"
"McGough, Mr. James Robert"
"Meyer, Mr. Edgar Joseph"
"Meyer, Mrs. Edgar Joseph (Leila Saks)"
"Millet, Mr. Francis Davis"
"Minahan, Dr. William Edward"
"Minahan, Miss. Daisy E"
"Molson, Mr. Harry Markland"
"Natsch, Mr. Charles H"
"Newell, Miss. Madeleine"
"Newell, Miss. Marjorie"
"Newell, Mr. Arthur Webster"
"Newsom, Miss. Helen Monypeny"
"Nicholson, Mr. Arthur Ernest"
"Ostby, Mr. Engelhart Cornelius"
"Parr, Mr. William Henry Marsh"
"Partner, Mr. Austen"
"Pears, Mr. Thomas Clinton"
"Pears, Mrs. Thomas (Edith Wearne)"
"Penasco y Castellana, Mr. Victor de Satode"
"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)"
"Perreault, Miss. Anne"
"Peuchen, Major. Arthur Godfrey"
"Porter, Mr. Walter Chamberlain"
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"
"Reuchlin, Jonkheer. John George"
"Ringhini, Mr. Sante"
"Robbins, Mr. Victor"
"Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)"
"Roebling, Mr. Washington Augustus II"
"Rood, Mr. Hugh Roscoe"
"Ross, Mr. John Hugo"
"Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)"
"Rothschild, Mrs. Martin (Elizabeth L. Barrett)"
"Ryerson, Miss. Emily Borie"
"Saalfeld, Mr. Adolphe"
"Sagesser, Mlle. Emma"
"Serepeca, Miss. Augusta"
"Seward, Mr. Frederic Kimber"
"Shutes, Miss. Elizabeth W"
"Silverthorne, Mr. Spencer Victor"
"Silvey, Mr. William Baird"
"Silvey, Mrs. William Baird (Alice Munger)"
"Simonius-Blumer, Col. Oberst Alfons"
"Sloper, Mr. William Thompson"
"Smart, Mr. John Montgomery"
"Smith, Mr. James Clinch"
"Smith, Mr. Richard William"
"Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)"
"Spencer, Mrs. William Augustus (Marie Eugenie)"
"Stahelin-Maeglin, Dr. Max"
"Stead, Mr. William Thomas"
"Stephenson, Mrs. Walter Bertram (Martha Eustis)"
"Stewart, Mr. Albert A"
"Stone, Mrs. George Nelson (Martha Evelyn)"
"Sutton, Mr. Frederick"
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)"
"Taussig, Miss. Ruth"
"Taussig, Mr. Emil"
"Taussig, Mrs. Emil (Tillie Mandelbaum)"
"Taylor, Mr. Elmer Zebley"
"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)"
"Thayer, Mr. John Borland"
"Thayer, Mr. John Borland Jr"
"Thayer, Mrs. John Borland (Marian Longstreth Morris)"
"Thorne, Mrs. Gertrude Maybelle"
"Uruchurtu, Don. Manuel E"
"Van der hoef, Mr. Wyckoff"
"Walker, Mr. William Anderson"
"Ward, Miss. Anna"
"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)"
"Weir, Col. John"
"White, Mr. Percival Wayland"
"White, Mr. Richard Frasar"
"Wick, Miss. Mary Natalie"
"Wick, Mrs. George Dennick (Mary Hitchcock)"
"Widener, Mr. Harry Elkins"
"Williams, Mr. Charles Duane"
"Williams-Lambert, Mr. Fletcher Fellows"
"Woolner, Mr. Hugh"
"Wright, Mr. George"
"Young, Miss. Marie Grice"

In [ ]:
%sql
-- 5. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.


select Survived, (count(*) / 891 * 100)
from titanic
group by Survived

Survived,((CAST(count(1) AS DOUBLE) / CAST(891 AS DOUBLE)) * CAST(100 AS DOUBLE))
1,38.38383838383838
0,61.61616161616161

# RELACIONADO
----------------------

- Capitulo 10: Spark SQL - Spark The Define Guide
- [Spark SQL Reference](https://spark.apache.org/docs/3.0.0-preview/sql-ref-null-semantics.html)